html, body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

center {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

oneline {
	display: flex;
	flex-direction: row;
	width: fit-content;
	justify-content: center;
	align-items: center;
}

oneline h3 {
	margin-right: 10px;
}

select {
	border-radius: 3px;
	padding: 2px;
}